<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <clear/>
    <add key="MobileServiceApiBaseAddress" value="https://schoolmanager.azure-mobile.net/tables/"/>
    <add key="MobileServiceToken" value="xKfPfwIGweKDPgbdSbUrxzihcNxAnc39"/>
    <add key="StudentsDownloadUrl" value="Students"/>
    <add key="TeachersDownloadUrl" value="Teachers"/>
  </appSettings>
</configuration>